---
---
// mailchimp.scss
//
#mc_embed_signup {
	@media screen and (max-width: 1680px) {
		ul.actions li {
	 	  padding: 0 0.5em 0 0;

	 		.button {
	 		  margin-top: 3em;
	 		}
		}

	}
	@media screen and (max-width: 1280px) {
	}
	@media screen and (max-width: 480px) {
		label {
			width: 16em;
			margin-bottom: 1em !important;
		}
	}
}

