<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<h2>{{ site.title }}</h2>
							<p>{{ site.description | markdownify }}</p>
						</div>
						<!-- <a href="#one" class="more scrolly">Learn More</a> -->
					</section>
